<h1>Users#index</h1>
<%= link_to "New", new_user_path %>
<% @users.each do |user| %>
  <ul>
  <li><%= link_to user.name, user_path(user) %></li>
  <li><%= user.email %></li>
  <li><%= link_to "削除", user_path(user.id), method: :delete %></li>
  </ul>
<% end %>
